In [21]:
import pandas as pd
from faker import Faker
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

fake = Faker('pl_PL')

1. Loading data converting '`gender`' and translating to English

In [22]:
df = pd.read_csv('data.csv', sep=';')

In [23]:
df['gender'] = df['gender'].apply(lambda x : 'Female' if x == 1.0  else 'Male')

In [24]:
def edu_replace(df):
    if df == 'Wyższe': return 'College'
    elif df == 'Średnie': return 'Secondary'
    else: return 'Primary'

df['edu_level'] = df['edu_level'].apply(edu_replace)

In [25]:
def translate_animals(df):
    if df == 'Psy': return 'Dogs'
    elif df == 'Koty': return 'Cats'
    elif df == 'Inne': return 'Other'
    elif df == 'Koty i Psy': return 'Cats and Dogs'
    else: return 'No preferences'

df['fav_animals'] = df['fav_animals'].apply(translate_animals)

In [26]:
df['fav_place'].unique()

array([nan, 'Nad wodą', 'W lesie', 'W górach', 'Inne'], dtype=object)

In [27]:
def translate_fav_place(df):
    if df == 'Nad wodą': return 'Lake'
    elif df == 'W lesie': return 'Forest'
    elif df == 'W górach': return 'Mountains'
    elif df == 'No data': return 'No data'
    else: return 'Other'

df['fav_place'] = df['fav_place'].apply(translate_fav_place)
df['fav_place']

0          Other
1           Lake
2         Forest
3      Mountains
4           Lake
         ...
135    Mountains
136    Mountains
137       Forest
138         Lake
139    Mountains
Name: fav_place, Length: 140, dtype: object

2. Capitalizing values and filling missing values

In [28]:
df['sweet_or_salty'] = df['sweet_or_salty'].str.capitalize() 
df['age'] = df['age'].str.capitalize()
df['sweet_or_salty'] = df['sweet_or_salty'].fillna('No data')
df['fav_place'] = df['fav_place'].fillna('No data')

3. Creating empty '`name`' column, generating fake names and assigning the data to the column

In [29]:
df['name'] = np.nan

In [30]:
f_names = [fake.first_name_female() for x in range(len(df[df['gender'] == 'Female']))]

In [31]:
df.loc[df[df['gender'] == 'Female'].index, 'name'] = f_names

C:\Users\Ja\AppData\Local\Temp\ipykernel_11288\2836971342.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Gaja', 'Kalina', 'Inga', 'Nela', 'Agnieszka', 'Dorota', 'Julianna', 'Anita', 'Marcelina', 'Olga', 'Karina', 'Sonia', 'Ewelina', 'Sylwia', 'Adrianna', 'Anastazja', 'Julita', 'Liwia', 'Agnieszka', 'Anita', 'Sylwia', 'Anna Maria', 'Nela', 'Anita', 'Apolonia', 'Agnieszka', 'Malwina', 'Kamila', 'Gaja', 'Janina', 'Nela', 'Sylwia']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df[df['gender'] == 'Female'].index, 'name'] = f_names

In [32]:
m_names = [fake.first_name_male() for x in range(len(df[df['gender'] == 'Male']))]

In [33]:
df.loc[df[df['gender'] == 'Male'].index, 'name'] = m_names

4. Selecting specific columns and saving the transformed data

In [34]:
df = df[['name', 'gender', 'age', 'edu_level', 'fav_animals',
        'sweet_or_salty', 'fav_place',]]

In [35]:
df.to_csv('data_prepared.csv', sep=';', index=False)